<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register | Book Notes</title>
  <link rel="stylesheet" href="/main.css">
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="container">
    <h1>📚 Book Notes App</h1>
    <form action="/register" method="POST" class="form">
      <input type="text" name="name" placeholder="Enter your name" required>
       
      <button type="submit">Continue ➜</button>
    </form>
  </div>
</body>
</html>
